body {
    font-family: 'Roboto', sans-serif;

}

/* Navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* to pull our container forward */
    padding-left: 0;
    padding-right: 0;
}

/* overide default bootstrap Navbar class setting*/
.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    border: 0;

}

/* overide bootsrap navbar toggler class */
.navbar .navbar-toggler {
    border: 0;
}

/* Make navbar-brand bold */
.navbar .navbar-brand {
    font-weight: bolder;
    color: brown;
}

/* Make navbar items bold */
.navbar .navbar-nav a {
    font-weight: bolder;
    color:black;
}
/* Make navbar items bold */
.navbar .navbar-text {
    font-weight: bolder;
    color: black;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}