 
  {% extends "base.html" %}
  {% block content %}
 
  <!-- /.google map section -->
   <h3 class="maph3"> Visit us - Our Abu Dhabi Location </h3>
   <div id="map"></div> <!-- Render map in div-->
   <!-- /.end of Goodle map section -->
   <!-- Contact form section -->
   <section class="container-fluid contact-form">
       <div class="row bg-color-contact">
           <div class="col">
               <!-- contact form heading  -->
               <h3 class="contact-heading uppercase text-center">Got an idea or feedback to share?</h3>
               <h5 class="uppercase text-center">We are always open to listen and improve our client experiences!</h5>
               <!-- contact form -4 components: 2 text input fields, a text area, and a button.-->
               <div class="center-form">
                   <form onsubmit="return sendMail(this);">
                       <!--bootstrap form-control class to add styling -->
                       <input type="text" name="name" id="fullname" class="form-control" placeholder="Name" required />
                       <input type="email" name="email" id="emailaddress" class="form-control" placeholder="Email"
                           required />
                       <!-- textarea- 5 rows for text area and required attribute used for all fields-->
                       <textarea rows="5" name="feedbacksummary" id="feedbacksummary" class="form-control"
                           placeholder="Ideas and feedback" required></textarea>
                       <!--form submit button -->
                       <div class="form-row text-center">
                           <div class="col">
                               <button type="submit" class="btn btn-secondary">Send Request</button>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </section>
   <!-- /. end of Contact form section -->
   {% endblock %}